// Color
$cPrimary: #332E54;
$cSecondary: #554CC2;
$cDefault: #fff;
$cGray: #807d7d;
$cGrayLight: #595674;
$cError: #D23E50;
$cSuccess: #4BA98E;
$cLightPurple: #8b899e;
$cTextGray: #7A7790;
$cDark: #000;
$cWhite: #fff;
$cTableHeader: #524D6E;
$cTable: #332E54;

// Background
$cBgPrimary: #F7F4FD;
$cBgDefault: #FFF;

// Cabinet
$cBorderPrimary: #EBEDF1;
$cBgSelectMenu: #F4F4FF;
$cBgCabinet: #E5E5E5;

// Btn
$cBtnPrimaryHover: #7369e4;